.contact_container{
    display: grid;
    place-items: center;
}

.contact_wrapper{
    width: fit-content;
    display: flex;
    gap: 32px;
}

.contact_wrapper a{
    background: #0084ff;
    font-size: 32px;
    border: 2px solid transparent;
    transition: all 500ms ease;
    padding: 11px 18px;
    width: 70px;
    height: 70px;
    border-radius:24px;
}

.contact_wrapper p:hover{
    background:transparent;
    border-color: #e9e9f7;
}


@media screen and (max-width: 600px) {
    .contact_wrapper{
        gap: 24px;
    }

    .contact_wrapper a{
        padding: 11px 18px;
        font-size: 32px;
        border-radius: 16px;
    }
}
